body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #584e4e;
}

#text {
  font-size: 10pt;
  color: red;
  transition: all 0.1s linear;
}
